{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/basic.css">
{% endblock %}
{% block body %}background:#222;{% endblock %}
{% block main%}
<div class="centerdiv" >
    <a href="/user" ><h2>User </h2></a>
    <h1>Register</h1>
    <div class="login">
        <form method="post" >
            {{ form.csrf_token }}
            <p>Email </p>
            {{ form.femail }}<br>
            <p>Password </p>
            {{ form.passw }}<br>
            {{ form.register }} 
        </form>
    </div>
</div>
{% endblock %}