{% extends "sims/simsTemplate.html" %}
{% block link %}
    <script type="text/javascript" src="/static/js/sims/pathFinder/selectGraph.js"></script>
    <script type="text/javascript" src="/static/js/sims/pathFinder/setup.js"></script>
    <script type="text/javascript" src="/static/js/sims/pathFinder/eulerVagBrute.js"></script>
    <script type="text/javascript" src="/static/js/sims/pathFinder/main.js"></script>
{% endblock %}
{% block main%}
<div class="centerdiv">
    <h1>Path finders</h1>
</div>

<!-- TODO select preset or make own graph
TODO oiler path/
TODO oiler cycle
TODO hamilton path
TODO hamilton cycle
TODO different algorithm
-->
<div styler="display:flex" class="flex-row h-full">
    <div id="part" class="w-full flex justify-between">
        <button id="selectGraph" class="w-full bg-gray-600" >Select Graph</button>
        <button id="selectAlgorithm" class="w-full">Select Algorithm</button>
        <button id="viewSolutions" class="w-full">View result</button>
    </div>

    <div id="DivselectGraph" class="hidden">
        <div>
            <h2>Presets</h2>
            <div id="presetList">
                <button id="preset1">
                    Preset 1
                </button>
                <button id="preset2">
                    Preset 2
                </button>
                <button id="preset3">
                    Preset 3
                </button>
            </div>
        </div>
        <div id="canvasDiv">
            <canvas width=900 height=700px id="editGraph"></canvas>
        </div>
        <div>
            <p class="text-xs">
                To create a node click on a empty space.</br>
                To move a node hold and drag.</br>
                To create a road hold and drag from one node to another.</br>
                To change a road weight click on the weight, enter your new weight and press enter.</br>
                To delete a node/road hold down space and click on the node/road weight,</br>
            </p>
        </div>
    </div>

    <div id="DivselectAlgorithm" class="hidden flex flex-col gap-4">
        <h2>Select Algorithm</h2>
        <div id='algorithms' class="flex flex-col gap-4">
            <!--
            <div id="shortestPath" class="flex-col justify-between gap-4">
                <h3>Kortaste vägen - minsta summa av vikt från nod till nod</h3>
                <button id="shortestPathBruteForce" class="" >Brute force</button>
                <button id="nearestNeighbour" class="" >Nearest Neighbour</button>
                <button id="dijkstras" class="" >Dijkstras Algorithm</button>
            </div>
            -->
            <div id="eulerVag" class="flex-col justify-between gap-4">
                <h3>Eulerväg - en väg som passerar alla kanter</h3>
                <button id="eulerVagBruteForce" class=" bg-gray-600" >Brute force</button>
                
            <!--<button id="fleurys" class="" >Fleurys Algorithm</button> -->
            </div>
            <!--
            

            <div id="eulerCykel" class="flex-col justify-between gap-4">
                <h3>Eulercykel - en cykel som passerar alla kanter</h3>
                <button id="eulerCykelBruteForce" class="" >Brute force</button>
                <button id="heirholzers" class="" >Heirholzers Algorithm</button>
            </div>

            <div id="hamiltonVag" class="flex-col justify-between gap-4">
                <h3>Hamiltonväg - en väg som passerar alla noder</h3>
                <button id="hamiltonVagBruteForce" class="" >Brute force</button>
                <button id="cheapestLink" class="" >Cheapest link</button>
            </div>

            <div id="hamiltonCykel" class="flex-col justify-between gap-4">
                <h3>Hamiltoncykel - en cykel som passerar alla noder</h3>
                <button id="hamiltonCykelBruteForce" class="" >Brute force</button>
            </div>

            <div id="minmalTree" class="flex-col justify-between gap-4">
                <h3>Minimalt uppspänt träd - minsta summa av vikt i en graf</h3>
                <button id="minmalTreeBruteForce" class="" >Brute force</button>
                <button id="kruskals" class="" >Kruskals Algorithm</button>
                <button id="prims" class="" >Prims Algorithm</button>
            </div>
            -->
        </div>

    </div>
    <div id="DivviewSolutions" class="">
        <h2>View solutions</h2>
        <button id="solve">Solve</button>
        <button>Step by Step(of the best)</button>
        <p id="errorNoRoadStartingNode" class="hidden">Error: starting node must have roads</p>
        <canvas id="game-layer" width=900 height=700px style="margin: auto; display:block; padding:0;"></canvas><br>
    </div>
</div>
{% endblock %}