{% extends "sims/simsTemplate.html" %}
{% block link %}
    <script type="text/javascript" src="/static/js/sims/pathFinders.js"></script>
{% endblock %}
{% block main%}
<div class="centerdiv">
    <h1>Path finders</h1>
</div>

<!-- TODO select preset or make own graph
TODO oiler path/
TODO oiler cycle
TODO hamilton path
TODO hamilton cycle
TODO different algorithm
-->
<div styler="display:flex" class="flex-row h-full">
    <div id="part" class="w-full flex justify-between">
        <button id="selectGraph" class="w-full bg-gray-600" >Select Graph</button>
        <button id="selectAlgorithm" class="w-full">Select Algorithm</button>
        <button id="viewSolutions" class="w-full">View result</button>
    </div>
    <div id="DivselectGraph">
        <div>
            <h2>Presets</h2>
            <div id="presetList">
                <button id="preset1">
                    Preset 1
                </button>
                <button id="preset2">
                    Preset 2
                </button>
                <button id="preset3">
                    Preset 3
                </button>
            </div>
        </div>
        <div>
            <canvas width=900 height=700px id="editGraph"></canvas>
        </div>
    </div>
    <div id="DivselectAlgorithm" class="hidden">
        <h2>Select Algorithm</h2>
    </div>
    <div id="DivviewSolutions" class="hidden">
        <h2>View solutions</h2>
        <canvas id="game-layer" width=900 height=700px style="margin: auto; display:block; padding:0;"></canvas><br>
    </div>
</div>
{% endblock %}