<div class="analysis hidden">
  <div id="loading">
    <h2>Analysing your matches</h2>
    <button id="checkProgress">Check Progress</button>
    <div id="progressDiv" class="hidden">
      <p id="analazyedMatchesAmount">Analyzed games</p>
      <p id="downloadedMatchesAmount">Downloaded games:</p>
      <p id="totalMatchesAmount">Total games:</p>
    </div>
  </div>
  <div id="wr" class="hidden flex-row gap-1">
    <table id="queueWR" class='h-fit h-1/2'>
      <tr class="shadow-lg bg-white">
        <th class="bg-blue-100 border text-left px-2 py-1">Queue Type</th>
        <th class="bg-blue-100 border text-left px-2 py-1">Wins/Losses</th>
        <th class="bg-blue-100 border text-left px-2 py-1">Winrate</th>
      </tr>
      <tr class="totalWR"></tr>
    </table>
    <table id="roleWR" class='h-fit'>
      <tr class="shadow-lg bg-white">
        <th class="bg-blue-100 border text-left px-2 py-1">Queue Type</th>
        <th class="bg-blue-100 border text-left px-2 py-1">Wins/Losses</th>
        <th class="bg-blue-100 border text-left px-2 py-1">Winrate</th>
      </tr>
    </table>
  </div>
</div>
