<div class="matchHistory flex flex-col" style="width: fit-content">
  <div class="underContentBtns pb-4 flex">
    <button
      id="onlyYou"
      class="special pr-6 bg-gray-400 bg-gray-600 text-center p-2"
    >
      Show only you
    </button>
    <button id="showAll" class="special px-6 bg-gray-400 text-center p-2">
      Show all
    </button>
    <button id="showMatchup" class="special px-6 bg-gray-400 text-center p-2">
      Show matchup
    </button>
    <button
      id="helpMatchHistory"
      class="special toggleDD bg-gray-400 text-center p-2"
    >
      help
    </button>
  </div>
  {% include 'lb2000/categories/matchHistory/settings.html' %} {% include
  'lb2000/categories/matchHistory/help.html' %}
  <div id="match_history" class="flex flex-col items-start"></div>
  <div class="flex justify-center">
    <div class="hover:bg-gray-600 active:bg-white">
      <button class="bg-gray-400 bg-gray-400 text-center p-2" id="load10more">
        Load 10 matches
      </button>
    </div>
  </div>
</div>
