<div class="matchHistory  flex flex-col" style="width: fit-content;" >
    <div class="flex flex-row  place-content-between pb-4">
        <div class="flex" id='teammatesButtons'>
            <button onclick='showhideBtn([{{ summonerid|tojson }}, "runestree"], ["TOP","JUNGLE", "MIDDLE", "BOTTOM", "UTILITY"], "onlyYou")' id='onlyYou' class="pr-6 bg-gray-400 bg-gray-600  text-center p-2">Show only you</button>
            <button onclick="showhideBtn(['TOP','JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY'], ['runestree'], 'showAll')" id='showAll' class="px-6 bg-gray-400   text-center p-2">Show all</button>
            <button onclick='showmatchup({{ summonerid|tojson }})' id='showMatchup' class="px-6 bg-gray-400   text-center p-2"> Show matchup</button>
        </div>
        <button id="settings" class="bg-gray-400   text-center p-2" style="color: var(--error-color);" onclick="settingsBtn(this.id, true)">Stat settings</button>
    </div>  
    {% include 'lb2000/categories/matchHistory/settings.html' %}
    <div id="match_history" class="flex flex-col items-start" >
        <!--<div class="height-0 border-gray-800 border-t-0"></div>-->
        {% for match in match_history %}
            <div id="{{ match }}"><p>Loading match</p></div>
        {% endfor %}
    </div>
    <div class="flex justify-center">
        <div class='hover:bg-gray-600  active:bg-white'>
            <button class="text-black">Load 10 matches</button>
        </div>
    </div>
</div>