<div class="multiAcc hidden">
  <div class="flex flex-row place-content-between pb-4">
    <div class="flex">
      <img src="{{ multiAccUrl }}" class="w-46 h-46 pr-4" />
      <div class="flex flex-col">
        <p class="w-64">Change your profile to the one on the left.</p>
        <button
          id="multiAccVerify"
          class="pr-6 bg-gray-400 bg-gray-600 text-center p-2"
        >
          Click this to link this account
        </button>
        <p class="w-64">
          Link another account on this browser for you accounts to be linked
        </p>
      </div>
    </div>
  </div>
</div>
