<head>
    <link rel="stylesheet" href="../../static/css/mycss.css">
    <link rel="shortcut icon" href="../static/favicon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
</head>
<div class="background">
<div class="menu">
    <ul>
        <li><a href="/portfolio">Portfolio</a>
            <ul>
                <li><a href="/portfolio/prim">Prime</a></li>
            </ul>
        </li>
        <li><a href="/facorio">Facorio</a>
            <ul>
                <li><a href="/factorio/proportion">Ratio Calculator</a></li>
            </ul>
        </li>
        <li><a href="/bjornbanan">Bjornbanan</a>
            <ul>
                <li><a href="/bjornbanan/help">API - help</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="rcenter">
    <p>This is the way</p>
    <p>"A Bro is always allowed to do something stupid as long as his Bros are doing it."</p>
    <p>"A Bro doesn’t allow another Bro to get married until they are at least thirty years old."</p>
    <p>"Bros don't make eye-contact during a Devil's Three-way."</p>
</div>
</div>
