<div id="Divmastery" class="bg-gray-600 mastery hidden">
  <div class="underContentBtns flex pl-4">
    <button id="masteries" class="pr-6 bg-gray-400 bg-gray-600 text-center p-2">
      Masteries
    </button>
    <button id="masteryValues" class="px-6 bg-gray-400 text-center p-2">
      Mastery Numbers
    </button>
  </div>
  <div id="DivmasteryValues" class="hidden flex flex-col pl-4">
    <h3 id="totalMastery">Total Mastery: {{ total_mastery}}</h3>
    <h3 id="totalMasteryPoints">Total mastery points: {{ masterPoints }}k</h3>
    <h3 id="masteryChampions">Champions: {{mastery|length}}</h3>
  </div>
  <div id="Divmasteries" class="flex flex-row flex-wrap pl-4"></div>
</div>
