h1{
    font-family: var(--title-font);
    color:var(--main-color);

}
h2{
    font-family: var(--title-font);
    color:var(--sub-color);

}
p{
    font-family: var(--main-font);
    color:var(--sub-color);

}
a{
    font-family: var(--main-font);
    text-decoration: none;
    color:var(--text-color);

}
pre{
    font-family: var(--main-font);
    color:var(--text-color);

}
button{
    background-color: var(--bg-color);
    border: none;
    border-radius: 4px;
    filter:brightness(1.25);
    margin: .2%;
    white-space: nowrap;
    color:var(--main-color);
    font-family: var(--main-font);
}