.socials{
    display:flex;
    justify-content:center;
    align-items: center;
    position:absolute;
    width: 100%;
    bottom:0px;

}
.socials img{
    padding:30px;
    width:100px;
    height:auto;
}

.centerdiv{
    padding:5%;

}
.centerdiv p{
    font-family: 'Roboto', sans-serif;
    color:white;

}
.centerdiv a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:white;

}
.wtitle{
    font-family: 'Roboto Mono', monospace;
    color:white;
}
.wlink{
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
}
.wbase{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color:white;

}
.html{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color:#ff04ad;
    cursor:pointer;
}
.hidden-div{
    display: none;
}
#contactdiv{
    position: absolute;
    bottom: 3%;
    left: 3%;
}

.contact{
    text-decoration: none;
    color:black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.main_div{
    max-width: 1000px;
    display: grid;
}