.html{
    font-size: 20px;
    font-family: var(--main-font);
    color:var(--sub-color);
    cursor:pointer;
}
.hidden-div{
    display: none;
}


.contact{
    text-decoration: none;
    color:var(--text-color);
    font-size: 22px;
    font-family: var(--main-font);
}
#rotating1{
    animation: fadeIn 25s infinite;
    opacity: 0;
}
#rotating2{
    animation: fadeIn 25s infinite;
    opacity: 0;
    animation-delay: 8.3s;
}
<<<<<<< HEAD
.main_div{
    max-width: 1000px;
    display: grid;
}
=======
#rotating3{
    animation: fadeIn 25s infinite;
    opacity: 0;
    animation-delay:16.7s;
}

@keyframes fadeIn {
    0%{opacity:0;}
    10%{opacity: 1;}
    30% {opacity:1;}
    40% {opacity:0;}
    100% {opacity:0;}
  }
>>>>>>> 77d213a5daa75a2ecf5280770bf1e6e12eace49b
