.html{
    font-size: 20px;
    font-family: var(--main-font);
    color:var(--sub-color);
    cursor:pointer;
}
.hidden-div{
    display: none;
}
.centerdiv > p{
    color:var(--text-color);
    font-size: 20px; 
    font-family: var(--main-font);
}
.main_div{
    max-width: 1000px;
    display: grid;
}
.project{
    cursor: pointer;
}
.project h1{
    color:var(--sub-color);
    font-family: var(--title-font);

}
.project p{
    color:var(--text-color);
    font-size: 20px; 
    font-family: var(--main-font);

}