#main{
    max-width: 1400px !important;
}
.centerdiv h1{
    font-family: var(--title-font);
    color:var(--main-color);

}
.centerdiv h2{
    font-family: var(--title-font);
    color:var(--main-color);

}
.centerdiv p{
    font-family: var(--main-font);
    color:var(--text-color);

}
.centerdiv a{
    font-family: var(--main-font);
    text-decoration: none;
    color:var(--text-color);

}
.centerdiv pre{
    font-family: var(--main-font);
    color:var(--text-color);

}
.mrow h2{
    margin:0px;
}
.mcolumn{
    width: 60px;
    float:left;
    height: 150px;
    background-color: var(--bg-color);
}
.mrow{
    text-align: center;
}
#user_info{
    display: flex;
}
#champion_masteryBtn{
    background-color:var(--sub-color);
    font-family: var(--main-font);
    text-align: center;
    border-radius: 2px;
    height: 43px;

}
#champion_masteryBtn h1{
    margin: 0px;
    color: var(--main-color);
}
#champion_masteryBtn:hover{
    cursor: pointer;
}
#match_history{
    padding-top: 80px;
}

#settings{
    display: flex;

}
#settings button{
    background-color: var(--bg-color);
    border: none;
    border-radius: 4px;
    filter:brightness(1.25);
    margin: .2%;
}
#settings div{
    padding: 0 0 5 5;
    
}




.amatch{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.match{
    width: 100%;
    display: flex;
}
.meta{
    width: 10%;
}
.team{
    width: 50%;
    float: left;
    display: flex;
    flex-direction:column;
}
.TOP{    
    display: none;
    width: 97%;
    order: 1;
}
.JUNGLE{
    display: none;
    width: 97%;
    order: 2;
}
.MIDDLE{
    display: none;
    width: 97%;
    order: 3;
}
.BOTTOM{
    display: none;
    width: 97%;
    order: 4;
}
.UTILITY{
    display: none;
    width: 97%;
    order: 5;
}
.NOROLE{
    display: none;
    width: 97%;
    order: 5;
}
.meta{
    width: 10%;
    float:left;
}
.meta p{
    font-family: var(--main-font);
    color:var(--text-color);
    font-size: 12;
    float: left;

}
.game_creation{
    width: 80px;
}
.game_duration{
    width: 40px;
    margin:1%;
}
.game_mode{
    display: none;
}
.game_type{
    display: none;
}
.game_version{
    display: none;
}
.players{
    width: 90%;
    float:left;
}
.champion{
    width: 100%;
    display:table;
}
.champion p{
    font-family: var(--main-font);
    color:var(--text-color);
    display: inline-block;
    margin:0px;
}
.champion div{
    display: inline-block;
    margin:0px;
    padding-left: 20px;
}
.champ{
    width: 20;
    height: 19;
    float: left;
}
.lvl{
    width: 30px;
}
.lane{
    width: 90px;
}
.kda{
    width: 70px
}
.kdacalc{
    width:50px
}
.cs{
    width: 35px
}
.cspermin{
    width: 40px
}
.visionscore{
    width: 20px
}
.controlwards{
    width: 30px

}
.item{ 
    width: 19px;
}
.player{
    display: none;
}
.details div{
    float:left;
    margin-left: 1%;
    margin-right: 1%;
}
.objectives{
    width:10%;
}
.spells{
    width:10%;
    
}
.kills{
    width:10%;
    
}
.minons{
    width:15%;
    
}
.vision{
    width:10%;
    
}
.damage{
    width:30%;
    
}
/* meta buttons */
#game_creation{
    color:var(--main-color);
}
#game_duration{
    color:var(--main-color)
}

/* champ buttons */
#champ{
    color:var(--main-color);
}
#kills{
    color:var(--main-color)
}
#assists{
    color:var(--main-color);
}
#deaths{
    color:var(--main-color)
}
#champLevel{
    color:var(--main-color);
}
#items{
    color:var(--main-color)
}
#summoner1Id{
    color:var(--error-color);
}
#summoner2Id{
    color:var(--error-color)
}
/* Vision buttons */
#detectorWardsPlaced{
    color:var(--error-color)
}
#sightWardsBoughtInGame{
    color:var(--error-color);
}
#visionScore{
    color:var(--main-color)
}
#visionWardsBoughtInGame{
    color:var(--error-color)
}
#wardsKilled{
    color:var(--error-color);
}
#wardsPlaced{
    color:var(--error-color)
}