.wtitle{
    font-family: 'Roboto Mono', monospace;
    color:white;
}
.wlink{
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
}
.wbase{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color:white;

}
.html{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color:#ff04ad;
}