* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.block{
  font-size: 20px;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button{
  font-size: 40px;
  width: 100%;
  background-color: black;
}