.wlink{
    color: white


}
.wtitle{
    color: white
    

}
.wbase{
    color: white
    

}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.ul >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
ul li a{
    text-decoration: none;

}
ul > li > a{
    color:red;
}
ul > li > ul > li >a{
    color:black;
}