<div class="underContentBtns flex bg-gray-300">
  <button
    id="matchHistory"
    class="px-6 bg-gray-400 bg-gray-600 text-center p-4"
  >
    Match History
  </button>
  <button id="mastery" class="px-6 bg-gray-400 text-center p-4">Mastery</button>
  <button id="liveGame" class="px-6 bg-gray-400 text-center p-4">
    Live game
  </button>
  <button id="multiAcc" class="px-6 bg-gray-400 text-center p-4">
    Accounts
  </button>
  <!--
    <li id="analysis" class="bg-gray-400 p-4 px-6">
      <div>
        <button onclick="taskbarBtn('analysis')" class="rounded-none text-2xl">
          Analysis
        </button>
      </div>
    </li>-->
</div>
