<div class="taskbar w-full">
  <ul id="taskbarinner" class="flex flex-row">
    <li id="matchHistory" class="bg-gray-600 bg-gray-400 p-4 pr-6">
      <div>
        <button
          onclick="taskbarBtn('matchHistory')"
          class="rounded-none text-2xl"
        >
          Match History
        </button>
      </div>
    </li>
    <li id="mastery" class="bg-gray-400 p-4 px-6">
      <div>
        <button onclick="taskbarBtn('mastery')" class="rounded-none text-2xl">
          Mastery
        </button>
      </div>
    </li>
    <li id="analysis" class="bg-gray-400 p-4 px-6">
      <div>
        <button onclick="taskbarBtn('analysis')" class="rounded-none text-2xl">
          Analysis
        </button>
      </div>
    </li>
    <li id="multiAcc" class="bg-gray-400 p-4 px-6">
      <div>
        <button onclick="taskbarBtn('multiAcc')" class="rounded-none text-2xl">
          Accounts
        </button>
      </div>
    </li>
  </ul>
</div>
