
<div class='flex flex-col m-2 w-3/6'>
    <form action="{{ url_for('lb2000.lb2000_index') }}" method='POST' >
        <input type="text" placeholder="Username (Default EUNE)"  class='rounded-lg h-8 text-center w-full m-2' name='userName' required>
        <div class="flex flex-row justify-center">
            <input type="submit" name='region' value="EUNE" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="EUW" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="KR" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="NA" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="BR" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="LAN" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="LAS" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="OCE" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="RU" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="TR" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="JA" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
        </div>
    </form>
    <div id='popular' class="flex flex-row gap-4 justify-center whitespace-nonwrap">
        {% for user in popular %}
        <div >
            <a href='/lb2000/{{ user['region'] }}/{{ user['summonerName'] }}'>
                <p class="whitespace-nowrap">{{ user['summonerName'] }}#{{ user['niceRegion'] }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>