<div id="user_info" class="flex flex-col pt-4 pb-16">
  <h2 >{{ summoner["name"] }}#{{ niceRegion }}</h2>
  <div class="flex flex-row gap-4">
    {% set icon_url =
    "https://raw.communitydragon.org/latest/game/assets/ux/summonericons/profileicon"
    + summoner["profileIconId"]|string + ".png" %}
    <div>
      <div class="relative">
        <img src="{{ icon_url }}" class="w-40" />
        <div class="bottom-0 w-full flex justify-center absolute text-center">
          <div class="bg-gray-300 opacity-90 px-2">
            <h2 class="inset-x-1/2 text-black opacity-1">
              {{ summoner["summonerLevel"] }}
            </h2>
          </div>
        </div>
      </div>

      <div
        id="matchDownloadProgressBar"
        class="flex flex-row bg-gray-500 relative h-10 w-40"
      >
        <div class="bg-gray-600 w-0" id="processDone"></div>
        <div class="bg-gray-500 w-40" id="processLeft"></div>
        <div class="absolute w-full h-full flex justify-center items-center">
          <p id="processText">Matches:</p>
        </div>
      </div>
    </div>
    <div id="ranks" class="bg-gray-600">
      <div class="flex flex-row justify-between ranksButtons">
        <button id="soloqB" class="bg-gray-400 bg-gray-600 w-full p-2">
          Solo/duo
        </button>
        <button id="flexBut" class="bg-gray-400 text-center w-full p-2">
          Flex
        </button>
      </div>
      <div id="ranksDiv">
        <div class="flex w-full pt-16 justify-center items-center">
          <p>Loading rank</p>
        </div>
      </div>
    </div>
    <div id="recentData" class="flex bg-gray-600 flex-col w-64">
      <div class="flex flex-row justify-between recentDataButtons">
        <button
          id="soloduoRecentData"
          class="bg-gray-400 bg-gray-600 w-full text-center p-2"
        >
          Solo/duo
        </button>
        <button id="aramRecentData" class="bg-gray-400 text-center w-full p-2">
          Aram
        </button>
        <button id="recentDataAll" class="bg-gray-400 text-center w-full p-2">
          All
        </button>
      </div>
      <div id="recentDataTables" class="bg-gray-600 h-full">
        <div class="flex w-full pt-16 justify-center items-center">
          <p>Loading Recent Data</p>
        </div>
      </div>
    </div>
  </div>
</div>
