{% extends "trego/template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/trego.css">
<script type="text/javascript" src="/static/js/trego/index.js"></script>
{% endblock %}
{% block body %}{% endblock %}
{% block main%}

<div id="main">
    <div id="background">
    </div>
    <p id="concept">Tregos goal is to create a way for commuters to plan trips together with other commuters. This saves money, time
        and energy for you aswell as saving the enviorment and helping infrastructure by minizing the amounts of trips.</p>
        
</div>


{% endblock %}