{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/bjornbanan.css">
{% endblock %}
{% block body %}{% endblock %}
{% block main%}


<div class="centerdiv">
    <h1>Björnbanan Commands</h1>
    <p style="width: 800px;">Björnbanan natural prefix is g as the way of the nature. But this can be changed if
        there is somethng wrong with you. Every commands with a few exceptions have g in front of them, if you've
        changed it then it's whatever you changed to</p>
    <p>
    <pre style="word-wrap: break-word; width: 1000px;">
        Administation
        ghelp - come here
        gsetprefix [prefix] - sets the prefix of the server to the symbols used in prefix 
        gg [not] [amount to skip] [amount] - removes that amount of messages. Writing "not" and an amount will skip.
        gs - spams 500 messages. only god can use this

        [Bettervc] is a system for voice channel to disapear and appear with demand. I suggest you remove afk channel cause that shit wack.
        geb - enables the system on the category where your sitting in voice chat. You should have created some channels before
        gdb - disables the category where your sitting in voice chat
        
        gr [@role] [emoji] [text if you want] - this will create a message people can react to which will give them the role @
        gc - will remove roles messages and send them again. This will create a nicer look 
        
        
        [shrödingers cat] this is a server which got special commands
        gcc [#AAAAAA] - sets your role color to the hex color. If you dont have a role it will create one.(I can enable this on other servers)     
        gt - creates a channel with admins. Reacting to the lock deletes the channel and send a log to every memeber(can be enabled)
        
    
        [noelbot] this enables noel mode on a channel. It removes all messages in a channel every 10 seconds
        ged - enables noelbot on the text channel you wrote in
        gdd - disables noelbot on the text channel you wrote in

        [rolebot] this enables a role log channel. Sends messages when roles changes and ping everyone on schrödinger cat if op bots is added.
        geo - enables role log on text channel
        gdo - disables role log on text channel


        Voice
        gj - joins your voice channel
        gl - leaves voice channel
        god - plays anthem
        gerika - plays second anthem
        ga [text] - follow this by a message and it will say it in voice chat (gtits hey)

        DND
        gdf - creates category and channels with Abbe's layout
        d - If your message starts with the letter "d" and containes numbers and +-*/ it will probably get u a answer.(d10+4)




    </pre>
    </p>


</div>
{% endblock %}