{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/bjornbanan.css">
{% endblock %}
{% block body %}{% endblock %}
{% block main%}


<div class="centerdiv">
    <h1>Björnbanan Commands</h1>
    <p style="width: 800px;">Björnbanan natural prefix is g as the way of the nature. But this can be changed if
        there is somethng wrong with you. Every commands with a few exceptions have g in front of them, if you've
        changed it then it's whatever you changed to</p>
    <p>
</div>
{% endblock %}