{% extends "template.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/bjornbanan.css">
{% endblock %}
{% block body %}background-image: url('/static/pics/bear.jpg');  background-repeat: no-repeat; background-size: cover;{% endblock %}
{% block main%}
<div>
    <div class="centerdiv">
        <h1 class="wtitle" >Björnbanan</h1>
        <p style="width: 800px;">Björnbanan is a discordbot. He is a nice bear. He can do all you want and
            more. He likes
            berries, squirrels and watersprinklers. But beware that monkeys will take your banan. If you want to keep
            your banan, you shall not play valorant.</p>
        <div>
        <a href="/bjornbanan/commands" >> Commands</a><br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=759541425078534154&permissions=8&scope=bot" target="_blank">> Invite link for the bot</a><br>
        </div><br>
    </div>
        
    <div  class="centerdiv">
        <h1 class="wtitle" >Björnbanan music</h1>
        <p style="width: 800px;">Music bot is severly not totally ok always</p>
        <div>
        <a href="/bjornbanan/music_help" >> Commands</a><br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=820557765222858763&permissions=3148800&scope=bot" target="_blank">> Invite link for m bot</a><br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=824021883393409064&permissions=3148800&scope=bot" target="_blank">> Invite link for n bot</a><br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=824041041312481311&permissions=3148800&scope=bot" target="_blank">> Invite link for b bot</a><br>
        </div><br>
    </div>
</div>
{% endblock %}

