{% extends "template.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/games.css">
    <script type="text/javascript" src="/static/js/games/dino.js"></script>
{% endblock %}
{% block body %}background-color:#23856D;{% endblock %}
{% block main%}
<div class="centerdiv">
    <a href="/gamejs" class="allgames"><h2>All games</h2></a>
    <h1>Dino</h1>
    <p>Press space to start playing and to restart after you died. Dont hit the objects stupid.</p>
</div>
<div styler="display:flex" class="centerdiv">
    <h2  id="score" style="text-align:center;" >Score: start the game jackass</h2><br>
    <canvas id="game-layer" width=900px height=300px style="margin: auto; display:block; padding:0;"></canvas><br>


</div>
{% endblock %}