<html>

<head>
    <link rel="stylesheet" href="../static/mycss.css">
</head>

<body style="background-image: url('../static/pictures/space.jpg');  ; background-size: 4500px; background-position-x:center; overflow:hidden;">
    <div style="left: 20;">
        <a href="/" class="wlink" >root(back)</a>
        <h1 class="wtitle">Alien planet</h1>
        <p class="wbase">This is the oversight panel for my Alien Space System Architect Distributing Framework(patent
            pending).<br />
            The frameworks purpose is to be used for a highly technologized colony on an uknown plant where resources are
            rare.<br />
            Three resources are being distrobuted; water, food and electric. This happens on a unknown but regular time
            period and the measurements are unknows aswell.<br />
            To see the system in progress you can interact in 3 ways with it:</p>
            <a href="/alien/request" class="wlink" style="margin-left: 50px;">- Example how the interface for a worker would look like </a><br/>
            <a href="/alien/admin" class="wlink" style="margin-left: 50px;">- Example how the administration interface would look like </a><br/>
            <a href="/alien/simulation" class="wlink" style="margin-left: 50px;">- Simulation on how many users would impact the system</a><br/>
    </div>
    <div><p class="wbase">Testad av Leo Beijer</p></div>
</body>

</html>