<html>

<head>
    <link rel="stylesheet" href="../static/mycss.css">
</head>

<body
    style="background-image: url('../static/pictures/space.jpg');  background-size: 4500px; background-position-x:center;">
    <div style="left: 20;">
        <a href="/alien" class="wlink">alien home(back)</a>
        <h1 class="wtitle">Alien planet - Simulation</h1>
        <p class="wbase">This simulation will show you the system working.
            The systems purpose is to adjust the level of production of each resourse independently
            to keep as little as possible in the storage. It will do this by using linear regression
            to calculate how big the consumption will be for the next consumption.
            It wil produce aditional resourses based on the standard deviation of the consumption.
            The equation it uses is: produce amount = standard deviation+predicted consumption amount
            - storage.
        </p>
        <p>The three values are how much the average resourse of the whole system but it will change with standard
            distribution. It will then calculate how much it will produce and in storage when you click
            the button
        </p>

    </div>
</body>

</html>