{% extends "template.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/basic.css">
    <link rel="stylesheet" href="/static/css/basics.css">
    <script type="text/javascript" src="/static/js/games/home.js"></script>
{% endblock %}
{% block body %}background-color:#23856D;{% endblock %}
{% block main%}
<div class="centerdiv">
    <h1 style=" font-size: 20px; font-family: 'Roboto', sans-serif;">GameJS</h1>
    <a href="/gamejs/osu" >Osu!</a><br>
    <a href="/gamejs/snake" >Snake</a>
</div>
{% endblock %}