{% extends "template.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/games.css">
    <link rel="stylesheet" href="/static/css/basic.css">
    <script type="text/javascript" src="/static/js/games/home.js"></script>
{% endblock %}
{% block body %}background-color:#23856D;{% endblock %}
{% block main%}
<div class="centerdiv">
    <h1>Ville cant break this</h1>
    <a href="/gamejs/osu" ><h2>Osu!</h2></a><br>
    <a href="/gamejs/snake" ><h2>Snake</h2></a>
</div>
{% endblock %}