<html>

<head>
    <link rel="stylesheet" href="/static/css/newccs.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Björnbanan - Commands</title>
</head>

<body
    style="background-image: url('/static/pics/bear.jpg');  background-repeat: no-repeat; background-size: cover;margin:0%;">
    <div class="navbar">
        <a href="/" style="position: absolute; left:0px; "><img alt="Qries" src="/static/pics/logos/home.png" style="height: 39px; width: auto;" ></a>
        <a href="/projects">Projects</a>
        <a href="/bjornbanan">Björnbanan</a>
    </div>
    <div class="centerdiv">
        <h1 class="wtitle">Björnbanan Commands</h1>
        <p style="width: 800px;">Björnbanan music got little different prefixes, m n and b.</p>
        <p>
        <pre style="color:white">
            m can be exchanged for n or b for the different bots.
            mp [song name/youtube link] - plays this song or adds it to queue
            ml - leaves and stops playing
            ms - skips somethng
            mq - shows queue
            mremove [index] - removes the number in queue nr index



        </pre>
        </p>


    </div>
</body>

</html>