<html>

<head>
    <link rel="stylesheet" href="/static/css/newccs.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Björnbanan</title>
</head>

<body
    style="background-image: url('/static/pics/bear.jpg');  background-repeat: no-repeat; background-size: cover;margin:0%;">
    <div class="navbar">
        <a href="/portfolio">Portfolio</a>
        <a href="/factorio">Factorio</a>
        <a href="/bjornbanan">Björnbanan</a>
    </div>
    <div class="centerdiv">
        <h1 class="wtitle">Björnbanan</h1>
        <p style="width: 800px;">Björnbanan is a discordbot. He is a nice bear. He can do all you want and
            more. He likes
            berries, squirrels and watersprinklers. But beware that monkeys will take your banan. If you want to keep
            your banan, you shall not play valorant.</p>
        <a href="/bjornbanan/help" >> Commands</a><br>
        <a href="https://discord.com/api/oauth2/authorize?client_id=759541425078534154&permissions=8&scope=bot">> Invite link</a><br>
        <a href="https://discord.gg/Ry2Hah38Mu" >> Invite link to Bjornbanan discord server</a><br>


    </div>
</body>

</html>