{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/basics.css">
{% endblock %}
{% block body %}background-image: url('/static/pics/knuck.jpg');  background-repeat: no-repeat; background-size: cover;{% endblock %}
{% block main%}
<a href="/projects" class="wlink" >Back</a>
<div class="centerdiv">
    <h1 class="wtitle">Files</h1>
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                {{ (request.path + '/' if request.path != '/' else '') + file }}
            </a>
        </li>
        {% endfor %}
    </ul>


</div>
{% endblock %}