{% extends "template.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/contacts.js"></script>
{% endblock %}
{% block body %}{% endblock %}
{% block main%}

<div class="centerdiv">
    <p id="rotating1" >"A Bro is always allowed to do something stupid as long as his Bros are doing it."</p>
    <p id="rotating2" >"A Bro doesn’t allow another Bro to get married until they are at least thirty years old."</p>
    <p id="rotating3" >"Bros don't make eye-contact during a Devil's Three-way."</p>
</div>

<div id="contactdiv">
    <span class="html" id="div1Btn" style="font-size: 36;" >&#60;Contacts show&#62;</span>
    <div id="div1" class="hidden-div" >
        <a href="https://github.com/XFazze" target="_blank" class="contact" >Github</a><br>
        <a class="contact" >me@fabbe90.gq</a><br>
        <br><span class="html" id="div2Btn" >&#60;Games show&#62;</span>
        <div id="div2" class="hidden-div">
            <a href="https://steamcommunity.com/id/sutener_fuck_you" target="_blank" class="contact" >Steam</a><br>
            <a href="https://osu.ppy.sh/users/9132903" target="_blank" class="contact" >Osu!</a><br>
            <span class="html" id="div2-close" >&#60;/Games hide&#62;</span><br>
        </div>
        <br><span class="html" id="div3Btn" >&#60;Rest show&#62;</span>
        <div id="div3" class="hidden-div">
            <a href="https://open.spotify.com/user/xfazze" target="_blank" class="contact" >Spotify</a><br>
            <a href="https://www.youtube.com/channel/UC5QPhBDzdyERk92kzCz-TBw" target="_blank" class="contact" >Youtube</a><br>
            <a href="https://www.twitch.tv/xfazze/" target="_blank" class="contact" >Twitch</a><br>
            <span class="html" id="div3-close" >&#60;/Rest hide&#62;</span><br>
        </div>
        
        <br><span class="html" id="div1-close">&#60;/Contacts hide&#62;</span><br>
    </div>
</div>


{% endblock %}