<head>
    <link rel="stylesheet" href="/static/css/newccs.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Fabbe90.gq</title>
</head>
<body style="margin:0%">
    <div class="navbar" >
        <a href="/" style="position: absolute; left:0px; "><img alt="Qries" src="/static/pics/logos/home.png" style="height: 39px; width: auto;" >Home</a>
        <a href="/portfolio" >Portfolio</a>
        <a href="/factorio">Factorio</a>
        <a href="/bjornbanan">Björnbanan</a>
    </div>
    
    <div class="centerdiv">
        <pre style="color:black; font-size: 20px; font-family: 'Roboto', sans-serif;">This is the way
        "A Bro is always allowed to do something stupid as long as his Bros are doing it."
        "A Bro doesn’t allow another Bro to get married until they are at least thirty years old."
        "Bros don't make eye-contact during a Devil's Three-way."</pre>
    </div>
    
    <div class="socials">
        <a href="https://twitter.com/XFazze" target="_blank"><img alt="Qries" src="/static/pics/logos/twitter.png" ></a>
        <a href="https://www.youtube.com/channel/UC5QPhBDzdyERk92kzCz-TBw" target="_blank"><img alt="Qries" src="/static/pics/logos/youtube.png" style="width:120px" ></a>
        <a href="https://www.twitch.tv/xfazze/" target="_blank"><img alt="Qries" src="/static/pics/logos/twitch.png" ></a>
        <a href="https://open.spotify.com/user/xfazze" target="_blank"><img alt="Qries" src="/static/pics/logos/spotify.png" style="width:170px"></a>
        <a href="https://discord.com/invite/BrcW9gcAXa" target="_blank"><img alt="Qries" src="/static/pics/logos/discord.png" style="width:130px" ></a>
        <a href="https://steamcommunity.com/id/sutener_fuck_you" target="_blank"><img alt="Qries" src="/static/pics/logos/steam.png" style="width:130px" ></a>
        <a href="https://osu.ppy.sh/users/9132903" target="_blank"><img alt="Qries" src="/static/pics/logos/osu.png" ></a>
    </div>
    </body>
    