{% extends "template.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/contacts.js"></script>
{% endblock %}
{% block body %}{% endblock %}
{% block main%}

<div class="centerdiv">
    <div class="project" onclick="window.location='/bjornbanan';" >
        <h1>Björnbanan</h1>
        <p>A discordbot. It has over 100 commands.</p>
    </div>
    <div class="project" onclick="window.location='/gamejs';">
        <h1>Games</h1>
        <p>A collection of javascript games you can play in your browser.</p>
    </div>
    <div class="project" onclick="window.location='/lb2000';">
        <h1>LB2000</h1>
        <p>A League of Legends stat site.</p>
    </div>
    <!---
    <div class="project" onclick="window.location='/factorio';">
        <h1>Factorio Ratio Calculator</h1>
        <p>Calculates ratios for the game Factorio</p>
    </div>-->
    <div class="project" onclick="window.location='/spotify';">
        <h1>Spotify Analyzer</h1>
        <p>You need to be whitelisted ask me@fabbe90.gq</p>
    </div>
    <!---
    <div class="project" onclick="window.location='/afknotif';">
        <h1>AFK notification</h1>
        <p>Starts flashing your screen when someone wants you.</p>
    </div>
    <div class="project" onclick="window.location='/urbanOsu';">
        <h1>Urban Osu</h1>
        <p>Gets recommendations based on your top plays</p>
    </div>
    <div class="project" onclick="window.location='/portfolio';">
        <h1>Portfolio</h1>
        <p>My very proffessional Portfolio</p>
    </div>
    <div class="project" onclick="window.location='/trego';">
        <h1>Trego</h1>
        <p>An travel app for going by car together</p>
    </div>
    -->
</div>


{% endblock %}