<head>
    <link rel="stylesheet" href="../static/css/temp.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="column" style="background-color:saddlebrown;" >
            <div class="block" >Poäng : 5</div>
            <div class="block" >STREAK: 2</div>
            <div class="block" >Success rate: 2</div><br>
            <div class="block" >Vänner <br>
                edard 0<br>
                noel 2<br>
            </div>
        </div>
        <div class="column" style="background-color:peru;">
            <div class="block" >Trötter Marklund</div><br>
            <div class="block" >Vikt: 150 kg  (160)</div><br>
            <div class="block" >Längd: 160 cm  (169)</div><br>
            <div class="block" >bmi: 2 </div><br>
            <div class="block" >Etnicitet: 50% spanjor (60%)</div><br>
            <div class="block" >För att nå ditt mål</div>
            <div class="block" >Calorier: 15 st</div>
            <div class="block" >Antal träningar: 15</div>
        </div>
        
        <div class="column" style="background-color:violet;">
            <div class="button" >Jag kommer träna</div><br>
            <div class="block" >Din planerad träning</div>
            <div class="button" >Jag har tränat</div>
            <div class="block" >Träningslogg</div>
            <div class="block" >- 20/10-20 Styrketräning 10 min</div>
            <div class="block" >- 21/10-20 Styrketräning 12 min</div>
        </div>
    </div>
</body>