{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/basic.css">
{% endblock %}
{% block body %}background-image: url('/static/pics/knuck.jpg'); background-size: cover;{% endblock %}
{% block main%}

<div>
    <div class="centerdiv">
        <h1>Files</h1>
        <ul style="list-style-type: none;">
            {% for file in files %}
            <li>
                <a href="{{ (request.path  if request.path != '/' else '') + 'files/' + file  }}">
                    {{ file }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="centerdiv">
        <h1>Websites</h1>
        <ul style="list-style-type: none;">
            <li>
                <a href="/projects/pappa" >Pappa</a><br>
            </li>
            <li>
                <a href="/projects/factorio" >Factorio Ratio Calculator</a><br>
            </li>
    </ul>
    </div>
</div>
{% endblock %}
    
    