<head>
    <link rel="stylesheet" href="/static/css/newccs.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Fabbe90.gq</title>
</head>
<body style="margin:0%;background-image: url('/static/pics/knuck.jpg'); background-size: cover;">
    <div class="navbar" >
        <a href="/" style="position: absolute; left:0px; "><img alt="Qries" src="/static/pics/logos/home.png" style="height: 39px; width: auto;" ></a>
        <a href="/projects" >Projects</a>
        <a href="/factorio">Factorio</a>
        <a href="/bjornbanan">Björnbanan</a>
    </div>



    
    <div class="centerdiv">
        <h1 class="wtitle">Projects</h1>
        <a style ="font-size:26px;font-family: 'Roboto Mono', monospace;" href="/projects/files">Files</a><br>
        <a href="/projects/pappa" >Pappa</a><br>
    </div>
    
    
    </body>
    