{% extends "template.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/css/rotating.css">
{% endblock %}
{% block body %}{% endblock %}
{% block main%}

<div class="centerdiv">
    <p id="rotating1" >"A Bro is always allowed to do something stupid as long as his Bros are doing it."</p>
    <p id="rotating2" >"A Bro doesn’t allow another Bro to get married until they are at least thirty years old."</p>
    <p id="rotating3" >"Bros don't make eye-contact during a Devil's Three-way."</p>
</div>


{% endblock %}