<head>
    <link rel="stylesheet" href="/static/css/newccs.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>Fabbe90.gq</title>
</head>
<body style="margin:0%">
    <div class="navbar" >
        <a href="/" style="position: absolute; left:0px; "><img alt="Qries" src="/static/pics/logos/home.png" style="height: 39px; width: auto;" ></a>
        <a href="/projects" >Projects</a>
        <a href="/factorio">Factorio</a>
        <a href="/bjornbanan">Björnbanan</a>
    </div>



    
    <div class="centerdiv">
        <p>templte</p>
    </div>
    
    
    </body>
    