@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    button{
        --tw-bg-opacity: 1;
        background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
        padding: 0.5rem 0.25rem 0.5rem 0.25rem;
        text-align: center;
        margin: 0 0.75rem 0.75rem 0;
    }
    button:hover{
        background-color: rgba(75, 85, 99, var(--tw-bg-opacity));
    }
}