{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/lb2000.css">
<script type="text/javascript" src="/static/js/lb2000.js"></script>
{% endblock %}
{% block body %}{% endblock %}
{% block main%}
<div class="centerdiv" >
    <h1>Linus Blåbärsylt 2000 tools</h1></br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p style="color:var(--text-color)">{{ form.username.label }}: {{ form.username }} {{ form.region }}{{ form.large_region }}{{ form.submit }}</p>
        {% if error %}
        <p style="color:var(--error-color)">User doesnt exit, your bad</p>
        {% endif %}
    
    </form>
    <div style="width:100%; height: 300px;">
        <p>Todo: Percentage of top and ladder rank, history, stats(win Percentage, kda, cs, winrate with users, etc) </p>
        {% set icon_url = "http://ddragon.leagueoflegends.com/cdn/10.18.1/img/profileicon/" + summoner["profileIconId"]|string + ".png" %}
        <img src={{ icon_url }} style="float:left;">
        <div style="padding-left: 320px;">
            <h2>{{ region }} | {{ summoner["name"] }} | Lvl {{ summoner["summonerLevel"] }} | Total Mastery {{ total_mastery}}</h2>
            {% if ranks|length >0 %}{% for rank in ranks %}<h2>{{rank["queueType"]}}:{{rank["tier"]}}-{{rank["rank"]}}({{rank["leaguePoints"]}})({{rank["wins"]}}/rank["losses"] }}({{ rank["wins"]/(rank["wins"]+rank["losses"]) }}))</h2>{% endfor %}{% endif %}
            <div id="masterydiv" style="height: 193px; overflow:hidden;">
                <div id="champion_masteryBtn">
                    <h1 id="masterydivtext">Show more</h1>
                </div>
                
                {% for champ in mastery %}
                {% set champname = champ_id_to_name[champ["championId"]|string]  %}
                {% set icon_url = "http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/" + champname + ".png" %}
                {% set seconds = (timenow-(champ['lastPlayTime']/1000))|round %}
                <div class="mcolumn">
                    <div class="mrow">
                        <img src={{ icon_url }}  style="width: 60;">
                    </div>
                    <div class="mrow" >
                        <p>{{ (champ['championPoints']/1000)|int }}k({{ champ['championLevel'] }})</p>
                    </div>
                    <div class="mrow" >
                        <p>{{ (((seconds/86400)*10)|round)/10 }}d</p>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <div id="match_history" >
            <p id="xx">123</p>

        </div>
    </div>

</div>
{% endblock %}