{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/lb2000.css">
<script type="text/javascript" src="/static/js/lb2000.js"></script>
{% endblock %}
{% block body %}{% endblock %}
{% block main%}
<div class="centerdiv" >
    <h1>Linus Blåbärsylt 2000 tools</h1></br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p style="color:var(--text-color)">{{ form.username.label }}: {{ form.username }} {{ form.region }}{{ form.large_region }}{{ form.submit }}</p>
        {% if error %}
        <p style="color:var(--error-color)">User doesnt exit, your bad</p>
        {% endif %}
    
    </form>
    <div style="width:100%">
        <p>Todo: Percentage of top and ladder rank, history, stats(win Percentage, kda, cs, winrate with users, etc) </p>
        {% set icon_url = "http://ddragon.leagueoflegends.com/cdn/10.18.1/img/profileicon/" + summoner["profileIconId"]|string + ".png" %}
        <img src={{ icon_url }} style="float:left;">
        <div style="padding-left: 320px;">
            <h2>{{ region }} | {{ summoner["name"] }} | Lvl {{ summoner["summonerLevel"] }} | Total Mastery {{ total_mastery}}</h2>
            {% if ranks|length >0 %}{% for rank in ranks %}<h2>{{rank["queueType"]}}:{{rank["tier"]}}-{{rank["rank"]}}({{rank["leaguePoints"]}}LP)({{rank["wins"]}}/{{ rank["losses"] }}({{ (100*rank["wins"]/(rank["wins"]+rank["losses"]))|round }}%))</h2>{% endfor %}{% endif %}
            <div id="masterydiv" style="height: 193px; overflow:hidden;">
                <div id="champion_masteryBtn">
                    <h1 id="masterydivtext">Show more</h1>
                </div>
                
                {% for champ in mastery %}
                {% set champname = champ_id_to_name[champ["championId"]|string]  %}
                {% set icon_url = "http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/" + champname + ".png" %}
                {% set seconds = (timenow-(champ['lastPlayTime']/1000))|round %}
                <div class="mcolumn">
                    <div class="mrow">
                        <img src={{ icon_url }}  style="width: 60;">
                    </div>
                    <div class="mrow" >
                        <p>{{ (champ['championPoints']/1000)|int }}k({{ champ['championLevel'] }})</p>
                    </div>
                    <div class="mrow" >
                        <p>{{ (((seconds/86400)*10)|round)/10 }}d</p>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        
        <div id="demo">
            <h2>The XMLHttpRequest Object</h2>
            <button type="button" onclick="loadDoc()">Change Content</button>
        </div>
        <div id="match_history" >
            {% for match in match_history %}
                <div class="{{ match }}"><p>Loading match</p></div>
            {% endfor %}

            {# 
            {% if (match1[summonerid]['meta']['win']) %}
                    <div class="amatch" style="background-image:-webkit-linear-gradient(left, var(--error-color), var(--error-color) 70%, transparent 70%, transparent 100%);" >
                    {% else %}
                    <div class="amatch" style="background-image:-webkit-linear-gradient(left, var(--sub-color), var(--sub-color) 70%, transparent 70%, transparent 100%)" >
                {% endif %}
                {% set icon_url = "http://ddragon.leagueoflegends.com/cdn/11.9.1/img/champion/" + match1[summonerid]['champ']['championName'] + ".png" %}
                <div style="width: 80px; float: left;display: flex;">
                    <p style="margin:auto;" >{{ (((timenow-(match1["meta"]["gameCreation"]/1000))/8640)|round)/10 }}d  </p>
                    <p style="margin:auto;" >&nbsp;{{ (match1["meta"]["gameDuration"]/60000)|int }}m</p>
                </div>
                <img src={{ icon_url }}  style="width: 60;float:left">
                
                </div>
            </div>
             #}


        
        </div>

    </div>
</div>
{% endblock %}
<!---
gameCreation, gameDuration, gameMode, gameType, gameVersion, win, individualPosition

participants, championName, , perks, assists, champLevel, deaths, kills, item0, item1, item2, item3, item4, item5, item6, summoner1Id, summoner2Id

detectorWardsPlaced, sightWardsBoughtInGame, visionScore, visionWardsBoughtInGame, wardsKilled, wardsPlaced
doubleKills, killingSprees, largestKillingSpree, largestMultiKill, longestTimeSpentLiving, totalTimeSpentDead, pentaKills,quadraKills, tripleKills, unrealKills, largestCriticalStrike
magicDamageDealt, physicalDamageDealt, totalDamageDealt, trueDamageDealt, magicDamageDealtToChampions, physicalDamageDealtToChampions, totalDamageDealtToChampions, trueDamageDealtToChampions, damageDealtToBuildings, damageDealtToObjectives, damageDealtToTurrets, magicDamageTaken, physicalDamageTaken, totalDamageTaken, trueDamageTaken
totalDamageShieldedOnTeammates, totalHeal, totalHealsOnTeammates, timeCCingOthers, totalTimeCCDealt
neutralMinionsKilled, dragonKills, baronKills, objectivesStolen, objectivesStolenAssists, totalMinionsKilled
firstBloodAssist, firstBloodKill, firstTowerAssist, firstTowerKill, inhibitorKills, inhibitorsLost, turretKills, turretsLost, 

goldEarned,  goldSpent, itemsPurchased,spell1Casts, spell2Casts, spell3Casts, spell4Casts, summoner1Casts, summoner2Casts
-->