{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/basics.css">
{% endblock %}
{% block body %}{% endblock %}
{% block main%}
<h1> Summoner </h1>
{% for key in summoner_dict.keys() %}
<p>{{ key }} : {{ summoner_dict[key] }}</p>
{% endfor %}


<h1> Match </h1>
<p>Hours since gam, duration in minutes</p>
{% for match in matches %}
<p>{{ round((time-match["info"]["gameCreation"]/1000)/3600) }} h,  {{ round(match["info"]["gameDuration"]/60000) }} m, {{match["info"]["gameMode"] }} {% for user in match["info"]["participants"] %}{% if user["puuid"] == puuid %}winner?{{ user["win"] }} {{ user["kills"] }}/{{ user["deaths"] }}/{{ user["assists"] }} ({{ round((user["kills"] + user["assists"])/user["deaths"], 2) }}) {{ user["totalMinionsKilled"] }}({{ round(user["totalMinionsKilled"]/(match["info"]["gameDuration"]/60000))  }})cs {%  endif %}{% endfor %}</p>
{% endfor %}


{% endblock %}