{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
<link rel="stylesheet" href="/static/css/lb2000.css">
{% endblock %}
{% block body %}{% endblock %}
{% block main%}
<div class="centerdiv flex items-center mt-72 flex-col ">
        <h1 class='text-2xl'>LB2000</h1></br>
        {% include 'lb2000/base/searchBar.html' %}
        {% if error %}
        <p style="color:var(--error-color)">User doesnt exit, your bad</p>
        {% endif %}
    </div>
</div>
{% endblock %}