{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
<link rel="stylesheet" href="/static/css/lb2000.css">
<script type="text/javascript" >
    var summonerid = {{ summonerid|tojson }}
    var summoner = {{ summoner|tojson }}
    stylesheet = document.styleSheets[0]
    stylesheet.insertRule("."+summonerid+"t {order:-1;}", 0);
    stylesheet.insertRule("."+summonerid+"w {background:#24a5ea;}", 0);
    stylesheet.insertRule("."+summonerid+"l {background:#ea3924;}", 0);
    
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script type="text/javascript" src="/static/js/lb2000/main.js"></script>
<script type="text/javascript" src="/static/js/lb2000/matchHistoryNew.js"></script>
<script type="text/javascript" src="/static/js/lb2000/analysis.js"></script>
{% endblock %}
{% block body %}{% endblock %}
{% block main%}
<div class="centerdiv" >
    <h1><a href='/lb2000'>LB 2000 </a></h1></br>
    <form action="{{ url_for('lb2000.lb2000_index') }}" method='POST' class='flex flex-row mb-1' >
        <input type="text" placeholder="Username (Default EUNE)"  class='w-1/4 rounded-lg h-8 text-center  mr-1' name='userName'>
        <div>
            <input type="submit" name='region' value="EUNE" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="EUW" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="KR" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="NA" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="BR" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="LAN" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="LAS" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="OCE" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="RU" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="TR" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
            <input type="submit" name='region' value="JA" class='rounded-lg p-1 hover:bg-gray-600 cursor-pointer active:bg-white w-12'>
        </div>
    </form>
    <div id='popular' class="flex flex-row gap-4">
        {% for user in popular %}
        <div >
            <a href='/lb2000/{{ user['region'] }}/{{ user['summonerName'] }}'>
                <p>{{ user['summonerName'] }}#{{ user['region'] }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <h2>{{ summoner["name"] }}#{{ region }}</h2>
    <div id="user_info">
        {% set icon_url = "http://ddragon.leagueoflegends.com/cdn/12.1.1/img/profileicon/" + summoner["profileIconId"]|string + ".png" %}
        <div class="relative pr-4 pb-4">
            <img src={{ icon_url }} class="pfppic">
            <div  class='bottom-4 w-full flex justify-center absolute text-center'>
                <div class="bg-black opacity-75 px-2">
                    <h2 class='inset-x-1/2 text-black'>{{ summoner["summonerLevel"] }}</h2>
                </div>
            </div>
        </div>
        <div>
            {% if ranks|length >0 %}{% for rank in ranks %}
            <h2>{{rank["queueType"]}}:{{rank["tier"]}}-{{rank["rank"]}}-{{rank["leaguePoints"]}}LP  WR:{{rank["wins"]}}/{{ rank["losses"] }}({{ (100*rank["wins"]/(rank["wins"]+rank["losses"]))|round }}%)</h2>
            {% endfor %}{% endif %}
        </div>
    </div>
    <div class="taskbar mb- ">
        <ul id="taskbarinner" class="flex flex-row gap-1.5 mr-2">
            <li id="matchHistory" class="p-1 bg-gray-600  mr-0 my-1">
                <div>
                    <button onclick="taskbarBtn('matchHistory')"><h2>Match History</h2></button>
                </div>
            </li>
            <li  id="mastery" class="p-1 bg-gray-600 my-1">
                <div>
                    <button  onclick="taskbarBtn('mastery')"><h2>Mastery</h2></button>
                </div>
            </li>
            <li  id="analysis" class="p-1 bg-gray-600 my-1">
                <div>
                    <button  onclick="taskbarBtn('analysis')"><h2>Analysis</h2></button>
                </div>
            </li>
        </ul>
    </div>
    <div id="contents">
        {% include 'lb2000/categories/matchHistory.html' %}
        {% include 'lb2000/categories/mastery.html' %}
        {% include 'lb2000/categories/analysis.html' %}
        </div>
    </div>
</div>
{% endblock %}
<!---
gameCreation, gameDuration, gameMode, gameType, gameVersion, win, individualPosition

participants, championName, , perks, assists, champLevel, deaths, kills, item0, item1, item2, item3, item4, item5, item6, summoner1Id, summoner2Id

detectorWardsPlaced, sightWardsBoughtInGame, visionScore, visionWardsBoughtInGame, wardsKilled, wardsPlaced
doubleKills, killingSprees, largestKillingSpree, largestMultiKill, longestTimeSpentLiving, totalTimeSpentDead, pentaKills,quadraKills, tripleKills, unrealKills, largestCriticalStrike
magicDamageDealt, physicalDamageDealt, totalDamageDealt, trueDamageDealt, magicDamageDealtToChampions, physicalDamageDealtToChampions, totalDamageDealtToChampions, trueDamageDealtToChampions, damageDealtToBuildings, damageDealtToObjectives, damageDealtToTurrets, magicDamageTaken, physicalDamageTaken, totalDamageTaken, trueDamageTaken
totalDamageShieldedOnTeammates, totalHeal, totalHealsOnTeammates, timeCCingOthers, totalTimeCCDealt
neutralMinionsKilled, dragonKills, baronKills, objectivesStolen, objectivesStolenAssists, totalMinionsKilled
firstBloodAssist, firstBloodKill, firstTowerAssist, firstTowerKill, inhibitorKills, inhibitorsLost, turretKills, turretsLost, 

goldEarned,  goldSpent, itemsPurchased,spell1Casts, spell2Casts, spell3Casts, spell4Casts, summoner1Casts, summoner2Casts
-->