{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/basic.css">
{% endblock %}
{% block body %}background:#222;{% endblock %}
{% block main%}
<div class="centerdiv" >
    <h1>Login</h1>
    <div class="login">
        <form method="post" >
            {{ form.csrf_token }}
            <p>Email </p>
            {{ form.femail }}<br>
            <p>Password</p>
            {{ form.passw }}<br>
            <p>{{ form.login }}</p>
        </form>
    </div>
</div>
{% endblock %}