{% extends "template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/basic.css">
{% endblock %}
{% block body %}background:#222;{% endblock %}
{% block main%}
<div class="centerdiv">
    <a href="/spotify" ><h2>Login again </h2></a>
    <div style="float: left;">
    <h1>{{ data["display_name"] }}</h1>
        <img style="height:200px; width:200px" class="inline" src="{{ data["images"][0]["url"] }}" alt="">
    </div>
    <div style="float: left;">
        anal
    </div>
</div>
{% endblock %}