.pinkbackground{
    margin:0;
    background: rgb(255, 0, 75);
    background-size:cover;
}
.menu{
    float:left;
    width:40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu > ul{
    list-style-type: none;
    padding: 10;
    margin-left: 40%;

}
.menu > ul >li{
    margin: 10;
    font-family: 'Bebas Neue';
        
}
.menu > ul >li >a{
    text-decoration: none;
    color:white;
    font-size: 300%;

}
.menu > ul >li >a:hover{
    color:black
}

.menu > ul > li > ul{
    list-style-type: none;
    padding: 0;
}
.menu > ul > li > ul > li{
    margin: 10;
    margin-left: 30;
    font-family: 'Roboto';

}
.menu > ul > li > ul > li >a{
    text-decoration: none;
    font-size: 150%;
    color:rgb(226, 226, 226)
}
.menu > ul > li > ul > li >a:hover{
    color:black;
}

.rcenter{
    float:right;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background:rgb(255, 255, 255);
}
.rcenter > p{
    margin:10px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: Thin;
} 

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 60px;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
    }

.see_border{
    background-color: purple;
    height:100%;

}