{% extends "produktutveckling/pappa_template.html" %}
{% block link %}
<link rel="stylesheet" href="/static/css/pappa.css">
{% endblock %}
{% block body %}background:#222;{% endblock %}
{% block main%}
<div class="login-div" >
    <div class="login">
    <br><br>
    <form method="post" action="/projects/pappa" >
    {{ form.csrf_token }}
    <h2>Login</h2>
    <p>Email </p>
    {{ form.email }}<br>
    <p>Password <a href="projects/pappa/forgotpassw" >Forgot?</a></p>
    {{ form.passw }}<br>
    <p>{{ form.login }} <a href="/projects/pappa/register" >Sign up</a></p>
    </form>
    <br><br></div>
</div>
{% endblock %}